*{
    margin: 0;
    padding 0;
    box-sizing: border-box;
    text-decoration: none;
    */list-syle : none;
}
.box{
    width: 200px;
    height: 200px;
    background-color:  teal;
    margin: 20px;
}

body {

    background-color: aquamarine ;
}
h1{ 

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
